global:
  scrape_interval: 15s  # Default scrape interval

scrape_configs:
  - job_name: 'vaadin_app'
    metrics_path: '/exporter/15'  # Directly include the ID in the metrics path
    static_configs:
      - targets: ['localhost:8080']  # Replace with your Vaadin app's host and port
